Body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Meu codigo token

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

*/
