Body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Meu codigo token
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

*/
